@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Open Sans', sans-serif !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  .space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  /* --tw-space-y-reverse: 0; */
  /* margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse))); */
  /* margin-bottom: calc(1.5rem * var(--tw-space-y-reverse)); */
}

space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}